header {
  background-color: #282c34; 
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  display: inline-flex;
}

.logo {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}
.search-input {
  margin-left: 0;
  width: 450px;
  height: 50px;
  font-size: 38px;
  margin: 25px;
  margin-right: 0;
}

@media only screen and (max-width: 800px) {
  .logo {
    display: none;
  }
  header {
    background-color: #fff;
  }
}